<div class="container" *ngIf="tasks">
  <h1>To-do-list</h1>
  <div class="head-buttons">
    <button (click)="filterAnimation()" class="filter-animation">
      Фильтр
    </button>
    <button class="new-task" routerLink="/new-task">
      Новая задача
    </button>
  </div>
  <div class="filters-wrap">
    <div class="filters" [@filterAnimation]=collapsed>
      <div class="header-filters">
        <div class="wrap-search-task">
          <label for="search-task">Поиск по заголовку: </label>
          <input id="search-task" type="text" [(ngModel)]="searchValue">
        </div>
      </div>
      <div class="task-priority">
        <mat-label>Фильтрация по приоритетности</mat-label>
        <mat-select [(ngModel)]="priorityValue">
          <mat-option *ngFor="let priority of priorities" [value]="priority">
            {{priority}}
          </mat-option>
        </mat-select>
      </div>
      <div class="filter-buttons">
        <button class="filter-animation" (click)="filterTasks(searchValue, priorityValue); filterAnimation()">
          Фильтровать
        </button>
        <button class="discharge-filter" (click)="dischargeFilter()">
          Сброс
        </button>
      </div>
    </div>
  </div>
  <div class="sorted-wrap">
    <button *ngFor="let sortParam of sortParams" (click)="sortByParam(sortParam)">{{ sortParam.name }}</button>
  </div>
  <ul class="tasks">
    <li *ngFor="let task of showTasks(startIndex, endIndex)">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <a class="tasks-title">
            <div>{{task.id}}. <span>{{task.title}}</span></div>
            <div class="tasks-priority" [class]="colorPriority(task.priority)">{{task.priority}}</div>
          </a>
        </mat-expansion-panel-header>
        <p class="tasks-text">{{task.text}}</p>
        <div class="task-buttons">
          <button routerLink="/task-detail/{{task.id}}" class="task-button-grey">Редактировать</button>
          <button (click)="deleteTask(task)" class="task-button-red">Удалить</button>
        </div>
      </mat-expansion-panel>
    </li>
  </ul>
  <mat-paginator [length]="tasks.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="getPaginatorData($event)">
  </mat-paginator>
</div>
<app-cat *ngIf="tasks"></app-cat>