h1 {
  text-align: center;
  font-size: 1.4em;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.filters-wrap {
  position: relative;
  margin-bottom: 15px;
}

.head-buttons {
  display: flex;
  justify-content: space-between;
}

.filter-animation {
  background-color: rgb(255, 208, 0);
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-animation:hover {
  background-color: rgb(228, 182, 57);
}

.filters {
  position: absolute;
  z-index: 999;
  background-color: white;
  border-radius: 5px;
  padding: 30px 30px 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header-filters {
  margin-bottom: 15px;
  align-items: center;
}

.wrap-search-task > input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  display: inline-block;
  padding: 0;
  line-height: 1.5em;
  font-size: 16px;
}

.wrap-search-task > input:focus {
  outline: none;
}

.wrap-search-task label {
  margin-bottom: 10px;
}

.task-priority {
  position: relative;
}

.task-priority mat-label {
  margin-bottom: 10px;
  display: block;
}

.task-priority .mat-select {
  border-bottom: 1px solid black;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.discharge-filter {
  background-color: rgb(196, 196, 196);
}

.discharge-filter:hover {
  background-color: rgb(161, 161, 161);
}

.filter-buttons button {
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px; 
}

.filter-buttons button:last-child {
  margin-bottom: 0;
}

.new-task {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4682B4;
  color: white;
}

.new-task:hover {
  background-color: #3376ad;
}

.tasks {
  margin: 0 auto;
  padding: 0;
}

.tasks > li {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: 400;
}

.tasks-priority {
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
}

.red {
  background-color: darkred;
}

.green {
  background-color: darkgreen;
}

.grey {
  background-color: darkgrey;
}

.tasks-title {
  cursor: pointer;
  text-decoration: none;
  color: black;
  width: 100%;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
}

.task-buttons > button {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-button-grey {
  margin-right: 12px;
  background-color: #E8EBF3;
}

.task-button-grey:hover {
  background-color: #dee3f1;
}

.task-button-red {
  background-color: #D0021B;
  color: white;
}

.task-button-red:hover {
  background-color: #bd0117;
}

@media (min-width: 576px) {
  h1 {
    font-size: 2em;
  }

  .filter-buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .filter-buttons button {
    margin-bottom: 0;
  }

  .discharge-filter {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.6em;
  }

  .filters {
    width: 50%;
  }
}