<div class="container">
  <h1>To-do-list</h1>
  <div class="filters">
    <div class="header-filters">
      <div class="wrap-search-task">
        <label for="search-task">Поиск по заголовку: </label>
        <input id="search-task" type="text" [(ngModel)]="searchValue">
      </div>
      <button class="new-task" routerLink="/new-task">
        Новая задача
      </button>
    </div>
    <div class="task-priority">
      <mat-label>Фильтрация по приоритетности</mat-label>
      <mat-select [(ngModel)]="searchPriorityValue">
        <mat-option *ngFor="let priority of priorities" [value]="priority">
          {{priority}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <ul class="tasks">
    <li *ngFor="let task of tasks | searchTitleFilter: searchValue | priorityFilter:searchPriorityValue">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <a class="tasks-title">
            <div>{{task.id}}. <span>{{task.title}}</span></div>
            <div class="tasks-priority" [class]="colorPriority(task.priority)">{{task.priority}}</div>
          </a>
        </mat-expansion-panel-header>
        <p class="tasks-text">{{task.text}}</p>
        <div class="task-buttons">
          <button routerLink="/task-detail/{{task.id}}" class="task-button-grey">Редактировать</button>
          <button (click)="deleteTask(task)" class="task-button-red">Удалить</button>
        </div>
      </mat-expansion-panel>
    </li>
  </ul>
</div>