<div class="container">
  <h1>To-do-list</h1>
  <div class="wrap-button">
    <button class="new-task" routerLink="/new-task">
      Новая задача
    </button>
  </div>
  <ul class="tasks">
    <li *ngFor="let task of tasks">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <a class="tasks-title">
            <div>{{task.id}}. <span>{{task.title}}</span></div>
            <div class="tasks-priority" [class]="colorPriority(task.priority)">{{task.priority}}</div>
          </a>
        </mat-expansion-panel-header>
        <p class="tasks-text">{{task.text}}</p>
        <div class="task-buttons">
          <button routerLink="/task-detail/{{task.id}}" class="task-button-grey">Редактировать</button>
          <button (click)="deleteTask(task)" class="task-button-red">Удалить</button>
        </div>
      </mat-expansion-panel>
    </li>
  </ul>
</div>