@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.mat-tooltip {
  font-size: 12px!important;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
  -webkit-box-shadow: inset 0 0 0 50px #FFF;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}