@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 2.6em;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.mat-tooltip {
  font-size: 12px!important;
}

button:focus {
  outline: none;
}

input {
  -webkit-box-shadow: inset 0 0 0 50px #FFF;
}